.page {
  margin: 20px 0
}

.wrapper {
  max-width: 1160px;
  margin: 0 auto;
  position: relative;
  padding: 0 20px;
  min-height: 600px;
}

.items-wrapper {
  float: left;
  width: 100%;
}

.itemsClass {
  margin-right: 300px;
  clear: both;
  overflow: auto;
  min-height: 600px;
 
}

.priceClass {
  position: relative;
  width: 300px;
  margin-left: -300px;
  float: right;
  overflow: hidden;
  background: rgba(44,62,80, 0.4);
  color: #eee;
  height: 25%;
  border: 1px solid black;
}

